# Snippet commun PHP (FPM)
(php_stack) {
	php_fastcgi php:{$PHP_INTERNAL_PORT}
	file_server
}

# ===== Racine du domaine : LANDING à la racine =====
{$DOMAIN} {
	root * {$LANDING_ROOT}
	import php_stack
}

# Optionnel : www.domaine
www.{$DOMAIN} {
	root * {$LANDING_ROOT}
	import php_stack
}

# ===== Sous-domaines PHP =====
{$SUBDOMAIN_HTML}.{$DOMAIN} {
	root * {$HTML_ROOT}
	import php_stack
}

{$SUBDOMAIN_PHP}.{$DOMAIN} {
	root * {$PHP_SIMPLE_ROOT}
	import php_stack
}

{$SUBDOMAIN_LARAVEL}.{$DOMAIN} {
	root * {$LARAVEL_ROOT}
	import php_stack
}

{$SUBDOMAIN_SYMFONY}.{$DOMAIN} {
	root * {$SYMFONY_ROOT}
	import php_stack
}

{$SUBDOMAIN_WORDPRESS}.{$DOMAIN} {
	root * {$WORDPRESS_ROOT}
	import php_stack
}

# ===== Services externes =====
{$SUBDOMAIN_PHPMYADMIN}.{$DOMAIN} {
	reverse_proxy phpmyadmin:80
}

{$SUBDOMAIN_GO}.{$DOMAIN} {
	reverse_proxy go:{$GO_INTERNAL_PORT}
}

{$SUBDOMAIN_DJANGO}.{$DOMAIN} {
	reverse_proxy django:{$DJANGO_INTERNAL_PORT}
}

{$SUBDOMAIN_NODE}.{$DOMAIN} {
    reverse_proxy node:{$NODE_INTERNAL_PORT}
}
