# Snippet commun PHP (FPM)
(php_stack) {
        php_fastcgi php:{$PHP_INTERNAL_PORT}
        file_server
}

# Snippet commun SSO AUTH
(sso_auth_forward) {
        forward_auth http://authelia:9091 {
            uri /api/verify?rd=https://auth.{$DOMAIN}
            copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
        }
}

# ===== Racine du domaine : LANDING à la racine =====
{$DOMAIN} {
        root * {$LANDING_ROOT}
        import php_stack
}

# Optionnel : www.domaine
www.{$DOMAIN} {
        root * {$LANDING_ROOT}
        import php_stack
}

# ===== SSO Authelia =====
{$SUBDOMAIN_AUTH}.{$DOMAIN} {
  reverse_proxy authelia:9091
}

# ===== Sous-domaines PHP =====
{$SUBDOMAIN_HTML}.{$DOMAIN} {
        root * {$HTML_ROOT}
        import php_stack
}

{$SUBDOMAIN_PHP}.{$DOMAIN} {
        root * {$PHP_SIMPLE_ROOT}
        import php_stack
}

{$SUBDOMAIN_LARAVEL}.{$DOMAIN} {
        root * {$LARAVEL_ROOT}
        import php_stack
        import sso_auth_forward
}

{$SUBDOMAIN_SYMFONY}.{$DOMAIN} {
        root * {$SYMFONY_ROOT}
        import php_stack
        import sso_auth_forward
}

{$SUBDOMAIN_WORDPRESS}.{$DOMAIN} {
        root * {$WORDPRESS_ROOT}
        import php_stack
        import sso_auth_forward
}

# ===== Services externes =====
{$SUBDOMAIN_PHPMYADMIN}.{$DOMAIN} {
        reverse_proxy phpmyadmin:80
}

{$SUBDOMAIN_GO}.{$DOMAIN} {
    reverse_proxy go:{$GO_INTERNAL_PORT}
    import sso_auth_forward
}

{$SUBDOMAIN_DJANGO}.{$DOMAIN} {
    reverse_proxy django:{$DJANGO_INTERNAL_PORT}
    import sso_auth_forward
}


{$SUBDOMAIN_NODE}.{$DOMAIN} {
    reverse_proxy node:{$NODE_INTERNAL_PORT}
    import sso_auth_forward
}
