services:
  caddy:
    image: caddy:latest
    container_name: caddy
    env_file:
      - path: ../.env
    ports:
      - "${CADDY_HTTP_PORT}:80"
      - "${CADDY_HTTPS_PORT}:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./caddy_data:/data
      - ./caddy_config:/config
      - ../sites:${PROJECTS_PATH}
    environment:
      # Domaines
      DOMAIN: ${DOMAIN}
      
      # Sous-domaines
      SUBDOMAIN_PHPMYADMIN: ${SUBDOMAIN_PHPMYADMIN}
      SUBDOMAIN_LARAVEL: ${SUBDOMAIN_LARAVEL}
      SUBDOMAIN_SYMFONY: ${SUBDOMAIN_SYMFONY}
      SUBDOMAIN_WORDPRESS: ${SUBDOMAIN_WORDPRESS}
      SUBDOMAIN_PHP: ${SUBDOMAIN_PHP}
      SUBDOMAIN_HTML: ${SUBDOMAIN_HTML}
      SUBDOMAIN_LANDING: ${SUBDOMAIN_LANDING}
      SUBDOMAIN_GO: ${SUBDOMAIN_GO}
      SUBDOMAIN_DJANGO: ${SUBDOMAIN_DJANGO}
      
      # Chemins des applications
      PROJECTS_PATH: ${PROJECTS_PATH}
      LARAVEL_ROOT: ${LARAVEL_ROOT}
      SYMFONY_ROOT: ${SYMFONY_ROOT}
      WORDPRESS_ROOT: ${WORDPRESS_ROOT}
      PHP_SIMPLE_ROOT: ${PHP_SIMPLE_ROOT}
      HTML_ROOT: ${HTML_ROOT}
      LANDING_ROOT: ${LANDING_ROOT}
      
      # Ports internes
      PHP_INTERNAL_PORT: ${PHP_INTERNAL_PORT}
      PHPMYADMIN_INTERNAL_PORT: ${PHPMYADMIN_INTERNAL_PORT}
      GO_INTERNAL_PORT: ${GO_INTERNAL_PORT}
      DJANGO_INTERNAL_PORT: ${DJANGO_INTERNAL_PORT}
    networks:
      - app_network
    restart: unless-stopped

networks:
  app_network:
    external: true
  db_network:
    external: true
