services:
  caddy:
    image: caddy:latest
    container_name: caddy
    env_file:
      - path: ../.env
    ports:
      - "${CADDY_HTTP_PORT}:80"
      - "${CADDY_HTTPS_PORT}:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ../sites:${PROJECTS_PATH}
    environment:
      # Domaines
      - DOMAIN=${DOMAIN}
      
      # Sous-domaines
      - SUBDOMAIN_LARAVEL=${SUBDOMAIN_LARAVEL}
      - SUBDOMAIN_SYMFONY=${SUBDOMAIN_SYMFONY}
      - SUBDOMAIN_WORDPRESS=${SUBDOMAIN_WORDPRESS}
      - SUBDOMAIN_PHP=${SUBDOMAIN_PHP}
      - SUBDOMAIN_HTML=${SUBDOMAIN_HTML}
      - SUBDOMAIN_LANDING=${SUBDOMAIN_LANDING}
      - SUBDOMAIN_PHPMYADMIN=${SUBDOMAIN_PHPMYADMIN}
      - SUBDOMAIN_GO=${SUBDOMAIN_GO}
      - SUBDOMAIN_DJANGO=${SUBDOMAIN_DJANGO}
      
      # Chemins des applications
      - PROJECTS_PATH=${PROJECTS_PATH}
      - LARAVEL_ROOT=${LARAVEL_ROOT}
      - SYMFONY_ROOT=${SYMFONY_ROOT}
      - WORDPRESS_ROOT=${WORDPRESS_ROOT}
      - PHP_SIMPLE_ROOT=${PHP_SIMPLE_ROOT}
      - HTML_ROOT=${HTML_ROOT}
      - LANDING_ROOT=${LANDING_ROOT}
      
      # Ports internes
      - PHP_INTERNAL_PORT=${PHP_INTERNAL_PORT}
      - PHPMYADMIN_INTERNAL_PORT=${PHPMYADMIN_INTERNAL_PORT}
      - GO_APP_INTERNAL_PORT=${GO_APP_INTERNAL_PORT}
      - DJANGO_INTERNAL_PORT=${DJANGO_INTERNAL_PORT}
    networks:
      - app_network

  php:
    build:
      args:
        UID: 1000
        GID: 1000
    container_name: php
    volumes:
      - ../sites:${PROJECTS_PATH}
    networks:
      - app_network
      - db_network

networks:
  app_network:
    name: app_network 
    driver: bridge
  db_network:
    name: db_network
    driver: bridge

