services:
  django:
    build:
      context: ../../sites/PYTHON/django
      dockerfile: Dockerfile
    container_name: django
    command: python manage.py runserver 0.0.0.0:${DJANGO_INTERNAL_PORT}
    volumes:
      - ../../sites/PYTHON/django:/app
    ports:
      - ${DJANGO_INTERNAL_PORT}:80
    environment:
      DEBUG: True
      DB_HOST: ${DB_HOST}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_DJANGO}
      DJANGO_URL: ${SUBDOMAIN_DJANGO}.${DOMAIN}
    networks:
      - db_network
      - app_network

networks:
  db_network:
    external: true
  app_network:
    external: true
