services:
  db:
    image: mariadb:11
    container_name: ${DB_HOST}
    environment:
      DB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - ./db_data:/var/lib/mysql
    networks:
      - db_network  # Uniquement pour les services qui en ont besoin

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    environment:
      PMA_HOST: db
      DB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    ports:
      - ${PHPMYADMIN_INTERNAL_PORT}:80
    depends_on:
      - db
    networks:
      - db_network
      - app_network

volumes:
  db_data:

networks:
  db_network:
    external: true
  app_network:
    external: true
