services:
  db:
    image: mariadb:11
    container_name: ${DB_HOST}
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASSWORD}
      DB_LARAVEL: ${DB_LARAVEL}
      DB_WORDPRESS: ${DB_WORDPRESS}
      DB_DJANGO: ${DB_DJANGO}
    ports:
      - "3306:3306"
    volumes:
      - ./db_data:/var/lib/mysql
      - ./scripts:/docker-entrypoint-initdb.d:ro
    networks:
      - db_network  # Uniquement pour les services qui en ont besoin

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    environment:
      PMA_HOST: db
    ports:
      - ${PHPMYADMIN_INTERNAL_PORT}:80
    depends_on:
      - db
    networks:
      - db_network
      - app_network

volumes:
  db_data:

networks:
  db_network:
    external: true
  app_network:
    external: true
